<!DOCTYPE html>
<html lang="es">
{{template "head" .}}
<body class="{{.Theme}}">

    {{template "upbar" .}}
    
    <h3>Discusiones Recientes</h3>

    <form action="/filtered" method="GET">
        <label for="sort_by">Ordenar por:</label>
        <select name="sort_by" id="sort_by">
            <option value="date">Fecha</option>
            <option value="title">Título</option>
        </select>
        <select name="order" id="order">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <div id="forum-posts">
        <ul>
        {{range .Posts}}
            <li>
                <a href="/view?id={{.ID}}&from=home"><strong>{{.Title}}</strong></a>
                <small>por <a href="/user?u={{.User}}">{{.User}}</a> a las {{.Time}}</small>
            </li>
        {{end}}
        </ul>
    </div>


</body>
</html>
